@import "tailwindcss";

:root {
  --background: #CAD2C5;      /* lightest */
  --color-lightbg: #84A98C;   /* second lightest */
  --foreground: #2F3E46;
  --color-text: #2F3E46;

  --color-primary: #354F52;   /* 2nd darkest */
  --color-secondary: #52796F; /* middle */
  --color-accent: #84A98C;    /* reused */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Animations */
@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutLeft {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-50px); }
}
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutRight {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(50px); }
}

.animate-slide-in-right { animation: slideInRight 0.7s ease forwards; }
.animate-slide-out-left { animation: slideOutLeft 0.7s ease forwards; }
.animate-slide-in-left { animation: slideInLeft 0.7s ease forwards; }
.animate-slide-out-right { animation: slideOutRight 0.7s ease forwards; }
