@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #EDE0D4;
  --color-lightbg: #E6CCB2;

  /* Text */
  --foreground: #7F5539;
  --color-text: #7F5539;

  /* Brand Colors */
  --color-primary: #B08968;
  --color-secondary: #9C6644;
  --color-accent: #DDB892;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutLeft {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-50px); }
}
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutRight {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(50px); }
}

.animate-slide-in-right { animation: slideInRight 0.7s ease forwards; }
.animate-slide-out-left { animation: slideOutLeft 0.7s ease forwards; }
.animate-slide-in-left { animation: slideInLeft 0.7s ease forwards; }
.animate-slide-out-right { animation: slideOutRight 0.7s ease forwards; }

